/*body {
	background-color: #659cdb;
	color: #48e336;
	background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/z/u/Zugpsitze_mountain.jpg?crop=0%2C214%2C3008%2C1579&wid=1200&hei=630&scl=2.506666666666667');
	background-repeat: no-repeat;
	background-position: center;
}*/

#first {
	color: #48e336;
	background: #659cdb url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/z/u/Zugpsitze_mountain.jpg?crop=0%2C214%2C3008%2C1579&wid=1200&hei=630&scl=2.506666666666667') no-repeat center top;
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
}

#second {
	height: 2000px;
}
